.main-btn{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
}

.white-btn{
    border: 2px solid white;
    color: white;
}

.dark-btn{
    border: 2px solid black;
    color: black;
}


.card-img-top{
border-radius: 50px;
padding: 20px;
}
